{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ],
  "plugins": ["transform-class-properties", "transform-runtime"],
  "sourceMaps": "both",
  "retainLines": true
}
